.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
database/*.sqlite
tests
.phpunit.cache
bootstrap/cache/*.php
evals
